<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="logs"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" target="System.out">
        <encoder>
            <charset>UTF-8</charset>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} | %5p | [%-10thread] %38logger{5}:%-5L - %msg%n</pattern>-->
            <pattern>[%-10thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/app.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %5p | [%-10thread] %38logger{5}:%-5L - %10msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <queueSize>1024</queueSize>
        <includeCallerData>false</includeCallerData>
        <neverBlock>false</neverBlock>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>1024</queueSize> <!-- default 256 -->
        <includeCallerData>false</includeCallerData> <!-- default false -->
        <neverBlock>false
        </neverBlock> <!-- default false, set to true to cause the Appender not block the application and just drop the messages -->
    </appender>

    <root name="br.com.fabex" level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>

</configuration>